@mixin heading-styling-main {
  color: $color-green-dark;
  font-weight: 700;
  text-align: center;
  margin-bottom: $vertical-spacing-md;
}

@mixin heading-styling-alt {
  color: $color-off-white;
  font-weight: 700;
  text-align: center;
  margin-bottom: $vertical-spacing-md;
}

@mixin section-styling {
  background: $color-cream;
  box-shadow: $box-shadow-sm;
  padding: 1rem;
  margin-bottom: $vertical-spacing-md;
}

@mixin buttonDefaultStyling {
  color: $color-white;
  text-shadow: 0 0 5px $color-grey-dark;
  border: none;
  padding: 0.35rem 0.75rem;

  &:hover {
    cursor: pointer;
  }

  &.enabled {
    background: $color-green-bright;
  }

  &.disabled {
    background: $color-red;
    cursor: not-allowed;
  }
}
