// colors
$color-green-dark: #1e5631;
$color-green-dark-disabled: #10301b;
$color-green: #4b9a2a;
$color-green-bright: #30cb00;
$color-cream: #fefae0;
$color-off-white: #f7fff7;
$color-white: #fff;
$color-grey-dark: #1f1f1f;
$color-grey: #252525;
$color-red: #a82d18;

// box shadows
$box-shadow-sm: 2px 2px 5px rgba(0, 0, 0, 0.35);
$box-shadow-sm-subtle: 2px 2px 5px rgba(0, 0, 0, 0.15);

// vertical spacing
$vertical-spacing-xl: 3.5rem;
$vertical-spacing-lg: 3rem;
$vertical-spacing-md: 2rem;
$vertical-spacing-sm: 1.25rem;
$vertical-spacing-xs: 0.75rem;

// font sizes
$font-header-lg: 2rem;
$font-header-sm: 1.5rem;
$font-paragraph-lg: 1.25rem;
$font-paragraph-sm: 1.1rem;

// misc
$line-height-paragraph: 1.4;
